/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     @font-face {
        font-family: 'Venus';
        src: local('Venus'), local('venus'), url('/fonts/venus/venus.otf');
        font-weight: normal;
        font-display: swap;
    }
}